@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap');

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding: 25px 0;
    position: fixed;
    width: 100%;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 42px;
}

a {
    text-decoration: none;
    color: white;
    padding: 9.5px 30px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

.bannner {
    background: url("/image/banner.jpg");
    height: 200vh;
    padding-top: 90px;
}

.wrapper {
    max-width: 892px;
    padding-top: 72px;
}

