@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap');

.container {
    max-width: 1200px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

header {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding: 25px 0;
    position: fixed;
    width: 100%;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 42px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 9.5px 30px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

.bannner {
    background: url("/image/banner.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 90px;
}

.wrapper {
    max-width: 892px;
    padding-top: 72px;
}

.banner-notice {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 40px;
}

.banner-form {
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin-top: 60px;
    padding: 18px 18px 18px 41px;
}

.banner-form button {
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.banner-form input {
    width: 100%;
    border: none;
    background: none;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
    padding: 80px 0 40px;
}

.box {
    display: flex;
    justify-content: space-between;
}

.step img {
    display: block;
    margin: auto;
}

.background {
    background-image: url('../image/BG.png');
    background-size: cover;
}

.stories .container {
    padding: 40px 0;
}

.story {
    display: flex;
}

.story p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

h3 {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    padding-bottom: 26px;
}

.content {
    margin-left: 40px;
}

.story:not(:last-child) {
    margin-bottom: 30px;
}

.img {
    display: block;
    margin: auto;
    width: fit-content;
    padding: 13px 30px 13px 80px;
    background-image: url('../image/arrow.svg');
    background-repeat: no-repeat;
    background-position-x: 25px;
}